extends ./layout

block content
    h2 Добавить промокод
    form(name='my')
        .form-group
            .input-group.margin-bottom-sm
                span.input-group-addon
                    i.fa.fa-user-circle-o.fa-fw(aria-hidden='true')
                input.form-control(type='text', placeholder='Code', name='code')

        .form-group
            .input-group.margin-bottom-sm
                textarea.form-control(rows=3, placeholder='Описание', name='description')

        
                 
        

        .form-group

        button.btn-primary.btn(type='submit') Сохранить

    script.
        var form = document.forms.my;
        form.addEventListener("submit", function (event) {

            var xhr = new XMLHttpRequest();
            var formd = new FormData(form);

            xhr.open('post', '/addpromo', true);

            xhr.send(formd);


        });








