extends ./layout
block content

    .b-search__inp
        input#find-shops(type='text', name='header-search', placeholder='Найти магазин')
        .b-search__control
            i.fal.fa-search.fa-fw
        .b-header-search-list

    if !markets
        p Ничего нет
        if !user
            p зайдите в систему и создайте витрины
    else
        each item in markets
            img.tips-icon-item(src='../../img/' + item.img)

            h5 #{item.name}

            p
                a.btn.btn-outline-secondary(href='/market/' + item._id, target='_blank')
                    | Перейти к магазину
            hr
block scripts
    //script(src='/js/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js')
    // script(src='/js/serch.controler.js')
    script(src='/js/serch.js')                